<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Posts App</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/posts">Home</a>
            </li>
            <li *ngIf="isAuth" class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/posts/add">Nouvel post</a>
            </li>
        </ul>
        <a *ngIf="!isAuth" routerLink="/auth/signup" class="btn btn-primary mr-2">Nouveau compte</a>
        <a *ngIf="!isAuth" routerLink="/auth/login" class="btn btn-success">Se connecter</a>
        <button *ngIf="isAuth" (click)="logout()" class="btn btn-danger">Se déconnecter</button>
    </div>
</nav>
